<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Menú</title>
</head>
<body>

<h2>Formulario de Menú</h2>

<form action="/menus/save" method="post" th:object="${menu}">
    <input type="hidden" th:field="*{id}">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" th:field="*{nombre}">
    <label for="precio">Precio:</label>
    <input type="text" id="precio" name="precio" th:field="*{precio}" />
    <br>
    <input type="submit" value="Guardar">
</form>

</body>
</html>